src/**
npm-cache/**
esbuild.js
tsconfig.json
.vscode/**
.vscode-test/**
node_modules/**
package-lock.json
yarn.lock
.git/**
.gitignore
.github/**
**/*.ts
**/*.map
**/.DS_Store
**/Thumbs.db
scripts/**
CHANGELOG.md
